.app {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.toolbar {
  position: absolute;
  max-width: 90vw;
  top: 0;
  display: flex;
  overflow: auto hidden;
  gap: 1rem;
  margin: calc((15vh - 3.3rem) / 2) 5%;
}